Service References/DRMService/mex1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Services" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SessionData">
    <xs:sequence>
      <xs:element minOccurs="0" name="SessionID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SessionData" nillable="true" type="tns:SessionData" />
  <xs:complexType name="SerialData">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsValid" type="xs:boolean" />
      <xs:element minOccurs="0" name="ServerValidatedSerial" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SerialData" nillable="true" type="tns:SerialData" />
  <xs:complexType name="GUIDExistsData">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChangesRemaining" type="xs:int" />
      <xs:element minOccurs="0" name="GUIDExists" type="xs:boolean" />
      <xs:element minOccurs="0" name="GUIDExistsElsewhere" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GUIDExistsData" nillable="true" type="tns:GUIDExistsData" />
  <xs:complexType name="GUIDData">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsValid" type="xs:boolean" />
      <xs:element minOccurs="0" name="ServerValidatedGUID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GUIDData" nillable="true" type="tns:GUIDData" />
  <xs:complexType name="TrialData">
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrentTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TrialLength" type="xs:int" />
      <xs:element minOccurs="0" name="TrialStartDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TrialData" nillable="true" type="tns:TrialData" />
</xs:schema>