Service References/DRMService/mex2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.expressgamemaker.com/Services/DRM" elementFormDefault="qualified" targetNamespace="http://www.expressgamemaker.com/Services/DRM" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://update.expressgamemaker.com/DRM/service.svc/mex?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Services" />
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Services" minOccurs="0" name="LoginResult" nillable="true" type="q1:SessionData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateSerial">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="serial" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="licenseType" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateSerialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Services" minOccurs="0" name="ValidateSerialResult" nillable="true" type="q2:SerialData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GUIDExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GUIDExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Services" minOccurs="0" name="GUIDExistsResult" nillable="true" type="q3:GUIDExistsData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateGUID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateGUIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Services" minOccurs="0" name="ValidateGUIDResult" nillable="true" type="q4:GUIDData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGUID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrialExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrialExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TrialExistsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BeginTrial">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrialData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrialDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Services" minOccurs="0" name="GetTrialDataResult" nillable="true" type="q5:TrialData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EndSession">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>